html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section
                div(class="container px-4 mx-auto")
                    nav(class="flex justify-between items-center py-8")
                        a(class="text-gray-600 text-2xl leading-none", href="#")
                            img(class="h-8", src="mockup-assets/logos/shuffle-ux.svg", alt="", width="auto")
                        div(class="lg:hidden")
                            button(class="block navbar-burger text-gray-500 hover:text-gray-600 focus:outline-none")
                                svg(class="h-4 w-4", fill="currentColor", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden lg:flex ml-auto mr-10 items-center w-auto space-x-12")
                            li
                                a(class="text-sm text-gray-500 hover:text-gray-700", href="#") About
                            li
                                a(class="text-sm text-gray-500 hover:text-gray-700", href="#") Company
                            li
                                a(class="text-sm text-gray-500 hover:text-gray-700", href="#") Services
                            li
                                a(class="text-sm text-gray-500 hover:text-gray-700", href="#") Testimonials
                        a(class="hidden lg:block px-6 py-3 text-sm text-gray-500 hover:text-gray-600 font-bold border border-gray-100 hover:border-gray-200 rounded", href="#") Contact Us
                    div(class="flex flex-wrap items-center -mx-4 lg:my-10")
                        div(class="w-full md:w-1/2 px-4 mb-8 md:mb-0")
                            h2(class="mb-8 text-4xl lg:text-5xl font-bold max-w-sm") Take care of your performance every day.
                            p(class="mb-6 text-lg text-gray-500 leading-loose max-w-lg") Build a well-presented brand that everyone will love. Take care to develop resources continually and integrity them with previous projects.
                            div(class="flex flex-wrap")
                                a(class="inline-block px-6 py-2 mr-4 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200", href="#") Track your performance
                                a(class="inline-block px-6 py-2 text-sm text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded", href="#") Learn More
                        div(class="w-full md:w-1/2 px-4")
                            img(class="object-cover w-full rounded-xl", src="mockup-assets/images/gray-500-square.png", alt="")
                        button(class="block mt-10 lg:mt-20 mx-auto w-16 h-16 p-5 rounded-full bg-gray-50 hover:bg-gray-100")
                            svg(class="mx-auto text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M19 9l-7 7-7-7")
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25")
                    nav(class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-2xl font-semibold leading-none", href="#")
                                img(class="h-8", src="mockup-assets/logos/shuffle-ux.svg", alt="", width="auto")
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") About
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Company
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Services
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Testimonials
                        div(class="mt-auto")
                            div(class="pt-6")
                                a(class="block px-6 py-2 mb-2 text-sm text-center text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded", href="#") Contact Us
                            p(class="mt-6 mb-4 text-sm text-center text-gray-400")
                                span © 2021 All rights reserved.
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4")
                        div(class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0")
                            div(class="max-w-md")
                                h2(class="mb-6 text-5xl font-bold font-heading") Trusted by brands all over the world
                                p(class="text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.
                        div(class="w-full lg:w-1/2 px-4")
                            div(class="flex flex-wrap -m-4")
                                div(class="w-1/2 md:w-1/3 p-4")
                                    div(class="py-4 lg:py-8")
                                        img(class="h-6 mx-auto", src="mockup-assets/logos/slack.svg", alt="")
                                div(class="w-1/2 md:w-1/3 p-4")
                                    div(class="py-4 lg:py-8")
                                        img(class="h-6 mx-auto", src="mockup-assets/logos/dropbox.svg", alt="")
                                div(class="w-1/2 md:w-1/3 p-4")
                                    div(class="py-4 lg:py-8")
                                        img(class="h-6 mx-auto", src="mockup-assets/logos/spotify.svg", alt="")
                                div(class="w-1/2 md:w-1/3 p-4")
                                    div(class="py-4 lg:py-8")
                                        img(class="h-6 mx-auto", src="mockup-assets/logos/amazon.svg", alt="")
                                div(class="w-1/2 md:w-1/3 p-4")
                                    div(class="py-4 lg:py-8")
                                        img(class="h-6 mx-auto", src="mockup-assets/logos/netflix.svg", alt="")
                                div(class="w-1/2 md:w-1/3 p-4")
                                    div(class="py-4 lg:py-8")
                                        img(class="h-6 mx-auto", src="mockup-assets/logos/stripe.svg", alt="")
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="max-w-3xl mb-16")
                        span(class="inline-block mb-2 text-sm text-gray-200 uppercase") Lorem ipsum
                        h2(class="mb-4 text-4xl lg:text-5xl font-bold font-heading") Lorem ipsum dolor sit amet consectutar domor at elis
                        p(class="mb-6 lg:mb-12 text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                    div(class="flex flex-wrap items-center -mx-4 mb-16")
                        div(class="w-full lg:w-2/5 px-4")
                            div(class="text-left lg:max-w-xs")
                                span(class="text-xs px-2 py-1 bg-gray-50 rounded uppercase text-gray-500 font-semibold") Development
                                h2(class="mt-2 mb-4 text-3xl font-bold font-heading") Lorem ipsum dolor sit amet consectutar
                                span(class="inline-block mb-4 text-xs font-bold text-gray-500") 10 jun 2020 19:40
                                p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                        div(class="order-first lg:order-last w-full lg:w-3/5 px-4 mb-8 lg:mb-0")
                            div(class="h-96")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-horizontal.png", alt="")
                    div(class="flex flex-wrap items-center -mx-4 mb-16")
                        div(class="w-full lg:w-3/5 px-4 mb-8 lg:mb-0")
                            div(class="h-96")
                            img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-horizontal.png", alt="")
                        div(class="w-full lg:w-2/5 px-4")
                            div(class="text-left lg:max-w-xs lg:ml-auto")
                                span(class="text-xs px-2 py-1 bg-gray-50 rounded uppercase text-gray-500 font-semibold") Development
                                h2(class="mt-2 mb-4 text-3xl font-bold font-heading") Lorem ipsum dolor sit amet consectutar
                                span(class="inline-block mb-4 text-xs font-bold text-gray-500") 10 jun 2020 19:40
                                p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                    div(class="flex flex-wrap items-center -mx-4 mb-12")
                        div(class="w-full lg:w-2/5 px-4")
                            div(class="text-left lg:max-w-xs")
                                span(class="text-xs px-2 py-1 bg-gray-50 rounded uppercase text-gray-500 font-semibold") Development
                                h2(class="mt-2 mb-4 text-3xl font-bold font-heading") Lorem ipsum dolor sit amet consectutar
                                span(class="inline-block mb-4 text-xs font-bold text-gray-500") 10 jun 2020 19:40
                                p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                        div(class="order-first lg:order-last w-full lg:w-3/5 px-4 mb-8 lg:mb-0")
                            div(class="h-96")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-horizontal.png", alt="")
                    div(class="flex flex-wrap items-center -mx-4 mb-20")
                        div(class="w-full lg:w-3/5 px-4 mb-8 lg:mb-0")
                            div(class="h-96")
                                img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-horizontal.png", alt="")
                        div(class="w-full lg:w-2/5 px-4")
                            div(class="text-left lg:max-w-xs lg:ml-auto")
                                span(class="text-xs px-2 py-1 bg-gray-50 rounded uppercase text-gray-500 font-semibold") Development
                                h2(class="mt-2 mb-4 text-3xl font-bold font-heading") Lorem ipsum dolor sit amet consectutar
                                span(class="inline-block mb-4 text-xs font-bold text-gray-500") 10 jun 2020 19:40
                                p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                    div(class="text-center")
                        a(class="px-6 py-3 text-gray-50 font-semibold bg-gray-500 hover:bg-gray-600 rounded leading-loose", href="#") View More Articles
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4")
                        div(class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0")
                            div(class="max-w-lg")
                                h2(class="mb-6 lg:mb-12 text-4xl lg:text-5xl font-bold font-heading") Lorem ipsum dolor sit amet consectutar domor at elis
                                h3(class="mb-1 text-2xl text-gray-800") Address
                                p(class="mb-6 text-lg text-gray-500 leading-loose") 1686 Geraldine Lane New York, NY 10013
                                h3(class="mb-1 text-2xl text-gray-800") Contact Us
                                p(class="text-lg text-gray-500 leading-loose") hello@wireframes.org
                                p(class="text-lg text-gray-500 leading-loose") + 7-843-672-431
                        div(class="w-full lg:w-1/2 px-4")
                            form(action="#")
                                input(class="w-full py-3 pl-3 mb-4 border rounded", type="text", placeholder="Name")
                                input(class="w-full py-3 pl-3 mb-4 border rounded", type="email", placeholder="E-mail")
                                textarea(class="mb-4 w-full p-3 border rounded resize-none", id="1", name="message", cols="30", rows="10", placeholder="Your Message...")
                                button(class="w-full inline-block px-6 py-3 mr-4 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200") Action
            footer(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center justify-between")
                        div(class="w-full lg:w-1/5 mb-6 lg:mb-0")
                            a(class="text-gray-600 text-2xl leading-none", href="#")
                                img(class="h-8", src="mockup-assets/logos/shuffle-ux.svg", alt="", width="auto")
                        div(class="w-full lg:w-auto")
                            ul(class="flex flex-wrap space-x-8 items-center")
                                li(class="mb-2 md:mb-0")
                                    a(class="text-sm text-gray-900 hover:text-gray-700", href="#") About
                                li(class="mb-2 md:mb-0")
                                    a(class="text-sm text-gray-900 hover:text-gray-700", href="#") Company
                                li(class="mb-2 md:mb-0")
                                    a(class="text-sm text-gray-900 hover:text-gray-700", href="#") Services
                                li(class="mb-2 md:mb-0")
                                    a(class="text-sm text-gray-900 hover:text-gray-700", href="#") Testimonials
                div(class="mt-16 mb-8 border-b border-gray-50")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap justify-between items-center")
                        p(class="w-full lg:w-auto mt-4 lg:mt-0 order-last lg:order-first text-sm text-gray-400") All rights reserved © Wireframes Corporation 2020
                        div(class="order-first lg:order-last")
                            a(class="inline-block mr-8", href="#")
                                img(src="mockup-assets/socials/facebook.svg", alt="")
                            |               
                            a(class="inline-block mr-8", href="#")
                                img(src="mockup-assets/socials/twitter.svg", alt="")
                            |               
                            a(class="inline-block mr-8", href="#")
                                img(src="mockup-assets/socials/github.svg", alt="")
                            |               
                            a(class="inline-block mr-8", href="#")
                                img(src="mockup-assets/socials/instagram.svg", alt="")
                            |               
                            a(class="inline-block", href="#")
                                img(src="mockup-assets/socials/linkedin.svg", alt="")
